body  {

	background: #d4dddd;
	margin-bottom:130px;
}

.contents {
	width: 100%;
    background: white;
    /* height: 600px; */
    border-radius: 25px;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 50px;

}

.title {

    font-size: 35px;
    font-family: Arial Helvetica sans-serif;
    margin-left: 20px;
}

.event-form {

    width: 95%;
    margin: 1%;
    background: #f2f2f2;
    margin-top: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    border-radius: 25px;
    padding-right: 10px;;
}

input {
    width: 70%;
    font-size: 30px;
    padding: 10px 20px;
    margin-left: 5%;
    border-radius: 25px;
    outline: none;
    margin-bottom: 20px;
    height: 50px;
}

#event-title{
    margin-left: 3%;
}

#start {
    width: 30%;
    margin-left: 12%;
}

#appt{

    width: 30%;
    margin-left: 3%;
}

#end {
    width: 30%;
    margin-left: 12%;
}

#endt{

    width: 30%;
    margin-left: 3%;
}

#address {

    width: 70%;
    margin-left: 23%;
    padding: 10px 20px;
    height: 200px;
    border-radius: 25px;
    font-size: 25px;
    font-family: Arial Helvetica sans-serif;
    outline: none;
}

.protect-btn {

    width: 35%;
    margin-left: 7%;
    padding: 10px 20px;
    font-size: 30px;
    margin-top: 20px;
    font-family: Arial Helvetica sans-serif;
    border-radius: 25px;
    outline: none;
    height: 70px;
    background: #958080;
    color: white;
}

#public{

    margin-left: 10px;
}

.protect-btn:hover {

    background: green;
}

#public:hover{
    background: green;
}

.btn {

   width: 36%;
    margin-left: 22%;
    padding: 10px 20px;
    font-size: 30px;
    margin-top: 50px;
    font-family: Arial Helvetica sans-serif;
    border-radius: 25px;
    outline: none;
    height: 70px;
    background: #4848d6;
    color: white;

}

#cancel {

    margin-left: 10px;
    background: #f13535;
}

.btn:hover {

    background: green;
}

#cancel:hover {

    background: #b11c1c;
}

#back {
    font-size: 40px;
    /* width: 250px; */
    background: white;
    border: none;
    margin-left: 20px;
 }

 select {
    width: 75%;
    padding: 10px 20px;
    margin-left: 7%;
    border-radius: 25px;
    outline: none;
    height: 70px;
    font-size: 30px;
    margin-top: 20px;
    font-family: Arial Helvetica sans-serif;
    margin-bottom: 20px;
 }

 #category {
    width: 75%;
    margin-bottom: 20px;
    font-size: 30px;
    margin-left: 4%;
    height: 70px;
 }

 #location {

    margin-left: 5%;
 }