body  {

	background: #d4dddd;
	margin-bottom:130px;
}

.contents {
	width: 98%;
    background: white;
    height: 1200px;
    border-radius: 25px;
    
    padding-top: 10px;
	margin: 1%;
	margin-top: 30px;

}

.image {

	float: left;
}

.form {

	margin-top: 50px;
    background: #ededed;
    width: 98%;
    padding-bottom: 50px;
    margin-left: 1%;
    padding-top: 20px;
    font-family: arial Helvetica sans-serif;
    border-radius: 25px;
}

#mail {

	width: 60%;
    margin-left: 10px;
    margin-top: 200px;
    padding: 5px;
}

.header {
	margin-left: 20px;
    width: 100%;
    padding-right: 100p;
    font-size: 40px;
}

input {

	font-family: FontAwesome;
    width: 90%;
    padding: 10px 25px;
    margin-left: 20px;
    border-radius: 25px;
    font-size: 30px;
    outline: none;
    height: 80px;
    
}

#message {
	height: 300px;
	font-family: FontAwesome;
    width: 90%;
    padding: 10px 25px;
    margin-left: 20px;
    border-radius: 25px;
    font-size: 30px;
    outline: none;
    color: #3a3636;
}

#message::placeholder {
	padding: 5px;
}

#back {
    margin-top: 20px;
    border-radius: 25px;
    font-size: 40px;
    /* width: 250px; */
    background: white;
    border: none;
    margin-left: 20px;
 }

 input[type="submit"] {
 	width: 95%;
    position: center;
    padding: 20px 20px;
    margin-left: 20px;
    border-radius: 40px;
    background: #4848d6;
    color: white;
    height: 100px;
    font-size: 40px;
    
    font-weight: bold;
    margin-top: 40px;
 }